<div id="bucket-performance" class="panel">
	<h2><%= @greeting %></h2>
</div>
<div id="bucket-rankings" class="panel">Rankings</div>
<div id="bucket-composition" class="panel">Composition</div>
<div id="bucket-news" class="panel">News</div>